extends layout

block content
  h1= title
  p Hello #{user}
  h1 Here are your claims
  table
     tr
        td Email:
        td #{email}
        each val in roles
           tr
              td Role:
              td #{val}